* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: auto;
    width: 70%;
}

h2 {
    margin-top: 7%;
    margin-bottom: 4%;
}

.dflex {
    display: flex;
}

.jc {
    justify-content: space-between;
}

.width {
    width: 30%;
}

.fa-star {
    color: #ff6b00;
    margin-bottom: 16px;
}

.img {
    /* height: 50%
    width: 50%; */
    border-radius: 10%;
    height: 50px;
    width: 50px;
    object-fit: cover;    
}

.sec-2 {
    margin-top: 4%;
}

.shadow {
    border-radius: 34px;
    box-shadow: 0 5px 12px 0 #14142b0d;
    overflow: visible;
    padding: 48px 42px 38px;
    border: 1px solid #eff0f6;
}

.lorem {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #8c8c95;
    margin-bottom: 16px;
}

.name {
    margin-bottom: 4px;
    font-size: 0.9rem;
    line-height: 1.5;
}

.sm {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #8c8c95;
}

.name, .sm {
    padding-left: 16px;
}

.button {
    margin-top: 36px;
    margin-bottom: 36px;
    text-align: center;
}

.a {
    background-color: #fedb01;
    padding: 20px 30px;
    line-height: 20px;
    margin: 20px;
    text-decoration: none;
    color: black;
    border-radius: 100px;
}

.a:hover {
    background-color: black;
    color: white;
    transition: color 350ms;
    transform: translate3d(0px, -4px, 0.01px);
}